/* DOCUMENT INFORMATION
    - document: Bulles & Sens
    - version 1.0.0
    - author: Fabien
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Inria Sans', sans-serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Inria Sans', sans-serif;
    color: #333333;
    font-size: 45px;
}

h3 {
    font-family: 'Inria Sans', sans-serif;
    color: #333333;
    font-size: 30px;
}

p {
    font-family: arial;
    font-size: 20px;
    text-align: center;
}

img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

/* contact
============================= */

.hero {
 
    background: linear-gradient(rgba(185, 163, 204, 0.5), rgba(186, 206, 230, 0.8)), url(ressources/bubbles.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.acces { 
    margin-top: 50px;
    display: flex;
    justify-content: center;

}



.information {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.institut {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.institut img {
    margin-left: 100PX;
    width: 850px;
    height: 600px;
}

.horaires {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horaires h2 {
    font-size: 45px;
    text-align: center;
}

.horaires h3 {
    font-size: 20px;
    text-align: center;
}

.contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* FORMULAIRE DE CONTACT
============================= */

.formulaire-contact {
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

form {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
    background-color: #b9a3cc;
    width: 800px;
    height: 500px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

form div {
    margin-top: 30px;
}

form label {
    font-family: 'Inria Sans', sans-serif;
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 30px;
}

form input,
textarea {

    font-size: 25px;
    height: 40px;
    width: 500px;
    box-sizing: border-box;
}

form input:focus,
textarea:focus {
    border-color: #333333;
}

form textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
    border: none;
    margin-bottom: 20px;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: white;

    color:#6e4d8b;
    font-size: 25px;
    transition: 0.2s;
}


button:hover{
    color:#b9a3cc ;
        background-color: #6e4d8b;
        transition: 0.2s;
        
    }
p{
    font-size: 20px;
}
    
/* MEDIAQUERIES
============================= */

@media screen and (max-width:1024px){
    h2 {
        font-size: 25px;
        text-align: center;
    }
    .acces{
        margin-top:30px;
    }
    .information{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .information img{
        margin-left: unset;
        margin-bottom: 30px;
        width: 720px ;
        height: 480px;
    }
    .information h2{
        font-size: 25px;
    }
    .information h3{
        font-size: 15px;
        margin-bottom: 10px;
    }

    form {
        width: 600px;
        height: 500px;
    }
    form input,
textarea {

    font-size: 20px;
    height: 30px;
    width:380px;
    
}
form label {
    width: 150px;
    font-size: 20px;
}
button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    
}
P{
    font-size: 15px;
}

}
@media screen and (max-width:500px){


    .information img{
      
        width: 280px ;
        height: 180px;
    }


form {
    width: 350px;
    height: 500px;
}
form input,
textarea {
margin-left: 3px;
    font-size: 15px;
    height: 30px;
    width:270px;
    
}
form label {
    width: 60px;
    height: 20px;
    font-size: 15px;
}
button {
    width: 150px;
    height: 30px;
    font-size: 15px;
    
}
}