/* DOCUMENT INFORMATION
    - document: Bulles & Sens
    - version 1.0.0
    - author: Fabien
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    width: 100%;
    height: 100%;
}

h1 {
    font-family:'Inria Sans', sans-serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Inria Sans', sans-serif;
    color: #333333;
    font-size: 45px;
}

h3 {
    font-family:'Inria Sans', sans-serif;
    color: #333333;
    font-size: 30px;
}

p {
    font-family: arial;
    font-size: 20px;
    text-align: center;
}

img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
}
/* soins
============================= */

.hero {
   
    background: linear-gradient(rgba(185, 163, 204, 0.5),rgba(186, 206, 230, 0.8)),url(ressources/bubbles.png);
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.prestations {
 
    display: flex;
    justify-content: center;
    align-items: center;

}

.prestations img {
    margin-top: 50px;
    margin-right: 30px;
    box-shadow: none;
    width: 45px;
    height: 45px;
 

}
.prestations h2{
    margin-top: 50px;

}

.choix {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.choix h3{
    font-family:'Inria Sans', sans-serif;
    font-size: 35px;
}

.duree {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;

}

.duree img {
    width: 536px;
    height: 800px;
}

.tableaux-durees {
    width: 600px;
    height: 800px;
    margin-bottom: 50px;
    background-color: #b9a3cc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);

}

.tableaux-durees h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-align: center;

}

.grille-duree {
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
}


.grille-duree h2 {
    
    margin-top: 20px;
    color: #333333;
    font-size: 25px;
}

.box1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: 10px;
    background-color: white;
    width: 500px;
    height: 75px;
    border-radius: 75px;
    grid-column: 1/3;
    grid-row: 1/2;

}


.box2 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: -10px;
    background-color: white;
    width: 320px;
    height: 75px;
    border-radius: 75px;
    grid-column: 2/3;
    grid-row: 2/3;

}

.box3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: 10px;
    background-color: white;
    width: 500px;
    height: 75px;
    border-radius: 75px;
    grid-column: 1/3;
    grid-row: 3/4;


}

.box4 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: -10px;
    background-color: white;
    width: 320px;
    height: 75px;
    border-radius: 75px;
    grid-column: 2/3;
    grid-row: 4/5;

}

.box5 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: 10px;
    background-color: white;
    width: 500px;
    height: 75px;
    border-radius: 75px;
    grid-column: 1/3;
    grid-row: 5/6;

}

.box6 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    margin-left: -10px;
    background-color: white;
    width: 320px;
    height: 75px;
    border-radius: 75px;
    grid-column: 2/3;
    grid-row: 6/7;

}

.modelage {
    margin-top: 150px;
    display: flex;
    justify-content: center;

}

.modelage h2 {
    text-align: center;
}

.modelage p {
    margin-top: 50px;
}

.texte-soin {
    display: flex;
    justify-content: space-around;
}

.soin {
    box-shadow: 0 10px 20px rgba(0,0,0,0.30);
    width: 500px;
    height: 700px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #bacde6;

}
.soin h2{
    font-size: 35px;
}
.soin img {
    object-fit: cover;
    margin-top: 50px;
    width: 380px;
    height: 280px;

}

.soin button {
    border: none;
    margin-bottom: 20px;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: #b9a3cc;
    color: white;
    font-size: 35px;
    transition: 0.2s;
}

.soin button:hover {
    transition: 0.2s;
    background-color: #6e4d8b;
    
}

.regles {
    margin-top: 150px;
    margin-bottom: 150px;
}

.regles p {
    margin-top: 50px;
}