/* DOCUMENT INFORMATION
    - document: Bulles & Sens
    - version 1.0.0
    - author: Fabien
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Inria Sans', sans-serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Inria Sans', sans-serif;
    color: #333333;
    font-size: 45px;
}

h3 {
    font-family: 'Inria Sans', sans-serif;
    color: #333333;
    font-size: 30px;
}

p {
    font-family: arial;
    font-size: 20px;
    text-align: center;
}

img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}


/* HEADER 
============================= */

nav {
    margin-top: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav img {
    margin-left: 75px;
    box-shadow: none;
    width: 55px;
    height: 75px;

}

nav ul {
    display: flex;

}

nav ul li {
    width: 400px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    color: #6e4d8b;
    transform: scale(1.1);
    transition: 0.2s;
}

nav ul li a:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #333333;
}

/* Menu Hamburger
============================= */
.topnav{
    display: none;
}

.hero {
    background: linear-gradient(rgba(185, 163, 204, 0.5), rgba(186, 206, 230, 0.8)), url(ressources/bubbles.png);
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    margin-top: 50px;
    text-align: center;
    text-shadow: #333333 2px 2px;
}


.titre button {
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: #6e4d8b;
    color: white;
    font-size: 35px;
    transition: 0.5s;
}

.titre button:hover {
    background-color: #6312aa;
    transition: 0.5s;
}

.bienvenue {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bienvenue .image img {
    width: 500px;
    height: 650px;
}




.bienvenue .icone img {

    box-shadow: none;
    width: 45px;
    height: 45px;
}


.texte {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texte p {
    margin-top: 50px;
}







/* SLIDER 
============================= */

.slider {
    width: 1200px;
    overflow: hidden;
    margin: 150px auto;
}

.slides {
    width: calc(1200px*4);
    animation: glisse 15s infinite;
}

.slide {
    float: left;

}


@keyframes glisse {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-1200px);
    }

    35% {
        transform: translateX(-1200px);
    }

    50% {
        transform: translateX(-2400px);
    }

    60% {
        transform: translateX(-2400px);
    }

    75% {
        transform: translateX(-3600px);
    }

    100% {
        transform: translateX(3600px);

    }

    100% {
        transform: translateX(0px);

    }

}


/* FOOTER
============================= */

.footer {
    margin-top: 50px;
    background: #4d4c4c;
    height: 120px;

}

.adresse {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    box-shadow: none;
    margin-top: 10px;
    width: 55px;
    height: 75px;
}

.adresse h3 {
    font-size: 15px;
    color: white;
    text-align: center;
    letter-spacing: 2px;

}

.reseaux {
    margin-top: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.reseaux-icones {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-around;

}

.reseaux i {
    color: #b9a3cc;


}




/* MEDIAQUERIES
============================= */

@media screen and (max-width:1024px) {


    nav ul li a {
        font-size: 25px;
    }

    nav ul li {
        width: 250px;
    }


    .slider {
        width: 1024px;

    }

    .slides {
        width: calc(1024px*4);
        animation: glisse 15s infinite;
    }

    .slide {
        float: left;

    }

    .slide img {
        width: 1024px;
    }

    @keyframes glisse {
        0% {
            transform: translateX(0px);
        }

        10% {
            transform: translateX(0px);
        }

        25% {
            transform: translateX(-1024px);
        }

        35% {
            transform: translateX(-1024px);
        }

        50% {
            transform: translateX(-2048px);
        }

        60% {
            transform: translateX(-2048px);
        }

        75% {
            transform: translateX(-3072px);
        }

        100% {
            transform: translateX(3072px);

        }

        100% {
            transform: translateX(0px);

        }

    }

    .bienvenue .image img {
        width: 400px;
        height: 520px;
    }

}



@media screen and (max-width:500px) {
    nav{
        display: none;
    }
    .topnav {
        display: initial;
        overflow: hidden;
        background-color:white;
       position: relative;
         }
      
      .topnav #myLinks {
        display: initial;
        background-color: #b9a3cc;
       
        
      }
      
      .topnav a {
        color:#333333;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
    
        background: black;
        display: block;
        position: relative;
        top: 0;
        right: 0;

      }
      
      .topnav a:hover {
        background-color: white;
        color:#333333;
        
      }
      
      .active {
        background-color: white;
        color: white;
      }

      .active img{
        box-shadow: none;
        width: 35px;
        height: 45px;
      }
    .texte p{
        margin-top: 30px;
        font-size: 15px;
    }
    h2{
        font-size: 25px;
    }
    
    nav ul li {
        width: 100px;
    }

    nav img {
        margin-left: 15px;
    }

    .slider {
        width: 500px;
        margin: 50px ;
    }
    

    .slides {
        width: calc(500px*4);
        animation: glisse 15s  infinite ;
    }

    .bienvenue .icone img {
        width: 30px;
        height: 30px;
    }
    

    .slide img {
        
        width: 500px;
    }

    @keyframes glisse {
        0% {
            transform: translateX(0px);
        }

        10% {
            transform: translateX(0px);
        }

        25% {
            transform: translateX(-500px);
        }

        35% {
            transform: translateX(-500px);
        }

        50% {
            transform: translateX(-1000px);
        }

        60% {
            transform: translateX(-1000px);
        }

        75% {
            transform: translateX(-1500px);
        }

        100% {
            transform: translateX(1500px);

        }

        100% {
            transform: translateX(0px);

        }
    }

    nav ul li a {
        font-size: 15px;
    }

    .bienvenue {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .bienvenue .image img {
        margin-bottom: 30px;
        width: 320px;
        height: 416px;
    }

    .hero h1 {
        font-size: 40px;

    }


    .hero h3 {
        text-align: center;
        font-size: 25px;

    }

    .titre button {

        width: 200px;
        height: 50px;
        font-size: 25px;
    }

    
    .reseaux-icones {
        margin-top: 15px;
        width: 200px;
    }
    .reseaux-icones i{
        width: 50%;
        height: 50%;
    }

    .adresse h3 {
        display: none;

    }
    .logo{
        margin-left: 15px;
    }

}